---
import NavbarComponent from "../components/Navbar";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Streamy</title>
	</head>
	<body class="h-screen bg-[#111827]">
		<NavbarComponent client:only />
		<slot />
	</body>
</html>
