---
import ChannelComponent from "../../components/ChannelDetail";
import BaseLayout from "../../layouts/BaseLayout.astro";
const { id } = Astro.params;
---

<BaseLayout>
	<ChannelComponent />
	<h1>channel: {id}</h1>
</BaseLayout>
