---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SearchFeedComponent from "../../components/SearchFeed";
const { searchTerm } = Astro.params;
---

<BaseLayout>
	<SearchFeedComponent />
	<h1>search: {searchTerm}</h1>
</BaseLayout>
