---
import BaseLayout from "../../layouts/BaseLayout.astro";
import VideoDetailComponent from "../../components/VideoDetails";
const { id } = Astro.params;
---

<BaseLayout>
	<VideoDetailComponent client:load />
	<h1>video: {id}</h1>
</BaseLayout>
